<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidiBleWpfSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MidiBleWpfSample.Properties.Settings>
            <setting name="SettingsWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SettingsWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SettingsWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="SettingsWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LastCC" serializeAs="String">
                <value>"CC#10"</value>
            </setting>
            <setting name="LastMidiDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPlayerController" serializeAs="String">
                <value>MPC</value>
            </setting>
            <setting name="LastPlayerPort" serializeAs="String">
                <value>13579</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
        </MidiBleWpfSample.Properties.Settings>
    </userSettings>
</configuration>